<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeLine Service</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Controllers/eligibilitymodel.js"></script>
    <script src="~/Scripts/Controllers/eligibilityController.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LIFELINE DONATIONS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Donors", "Index", "Donor")</li>
                    <li>@Html.ActionLink("Camps", "Index", "Camp")</li>
                    <li>@Html.ActionLink("Eligibilty", "Eligibility", "Donor")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
            @RenderBody()
        </div>
        <footer id="footer">
            <p class="text-center">&copy; @DateTime.Now.Year - TC Research Project</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/signalr/hubs" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/TypeScript/SiteActivity.js"></script>
</body>
</html>
